@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

.done{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
}

.container-todo-list{
    border: 1px solid transparent;
    /* width: 20vw; */
    width: 550px;
    height: 99vh;
    margin: 0 auto;
    
}

.todo-bg{
    /* background: url('../../../public/login-bg.jpg'); */
    /* background-image:  ; */
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.836);
    /* opacity: 0.5; */
    background-blend-mode: darken;
    /* mask-image: black; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* .add-todo {
    width: 445px;
} */

.userName{
    margin-top: 10vh;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.userName button{
    width: 40px;
    height: 40px;
    outline: none;
    background: rgba(255, 255, 255, 0.13);
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
}

.userName button:hover{
    transform: scale(1.1);
}

.day-frase{
    color: white;
    margin-left: 20px;
    /* font-size: 18px; */
}

.button-input{
    /* border: 1px solid red; */
    height: 40px;
    align-items: center;
}

.button-input input{
    font-size: 18px;
    padding-left: 20px;
    color: white;
    height: 30px;
    border-radius: 10px 0 0 10px;
    margin-right: 2px;
    outline: none;

    background: rgba(255, 255, 255, 0.13);
    /* outline: none !important; */
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    width: 495px;
    /* border: 1px solid rgba(255,255,255,0.4); */
}

.button-input button{
    font-size: 18px;
    /* padding-left: 20px; */
    color: white;
    height: 33.9px;
    border-radius: 0 10px 10px 0;
    margin-right: 2px;
    outline: none;

    background: rgba(255, 255, 255, 0.13);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    cursor: pointer;
}

  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.13) rgba(0, 0, 0, 0) ;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.452);
  }

.container-todo-list ul {
    background: rgba(255, 255, 255, 0.13);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    list-style: none;
    padding: 0;
    overflow: scroll;
    height: 600px;
    /* padding: 10px 15px; */
}

.container-todo-list ul li {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    /* border-bottom: 1px solid white; */
}

.hr{
    /* width: 5000px; */
    color: rebeccapurple;
    padding-left: 45px;
}

.container-todo-list ul li input[type=checkbox]{
    margin-right: 10px;
    cursor: pointer;
    border-radius: 500%;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 2px;
}

/* .div-li{
    display: flex;
} */

.div-li button{
    width: 5%;
    height: fit-content;
    background: transparent;
    border: none;
    font-size: 15px;
    color: rgb(231, 46, 46);
}

.div-li span{
    /* border-bottom: 1px solid white; */
    display: inline-block;
    width: 440px;
}

.div-li i{
    transition: all 0.15s ease-in-out;
}

.div-li i:hover{
    color: rgb(243, 11, 11);
    cursor: pointer;
    transform: scale(1.2);
}

.add-error{
    color: bisque;
    margin-left: 100px;
}

@media all and (max-width: 600px ) {
    .container-todo-list{
        width: 70vw;
    }
    .add-todo {
        width: 70vw;
    }
  }
  
